@page "/categories"
@using Api.Models.Dto.Categories
@using MudBlazorApp.Client.Pages.Components

<h3>Categories</h3>

@if (preRenderState.IsPreRender)
{
    <p><em>Pre-Rendering...</em></p>
    return;
}

@if (categories == null)
{
    
}

@code {
    [CascadingParameter] private PreRenderState preRenderState { get; set; } = new(false);
    HttpClient client = new() { BaseAddress = new Uri("http://localhost:5079") };
    List<CategoryDto> categories = [];

    protected override async Task OnInitializedAsync()
    {
        if (preRenderState.IsPreRender)
        {
            return;
        }

        try
        {
            var result = await client.GetAsync("api/v1/categories");
            if (result.IsSuccessStatusCode)
            {
                categories = await result.Content.ReadFromJsonAsync<List<CategoryDto>>() ?? [];
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        
        await base.OnInitializedAsync();
    }
}